* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* General */
html {
  font-family: "Inter Tight", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  height: calc(100vh - 90px);
}

/* Sidebar Styles */
.pop-up {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  height: 90px;
  width: calc(100vw - 50px);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 30px;
}

.btn-upgrade {
  color: white;
  border: 2px solid white;
  padding: 0.7rem 3rem;
  border-radius: 100px;
  white-space: nowrap;
}

.btn-upgrade:hover {
  transform: scale(1.1);
}

aside {
  height: calc(100vh - 90px);
  width: 50px;
  background-color: black;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
}

aside a {
  color: #a3a3a3;
}

aside a:hover {
  color: white;
}

aside a:hover svg path {
  fill: white;
}

aside nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  font-size: 14px;
}

.aside-container {
  display: none;
}

.mobile-icons li {
  padding: 2px 0;
}

.mobile-icons svg {
  max-width: 30px;
  margin-right: 5px;
}

.logo-small {
  margin-bottom: 5px;
}

.profile.hidden a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile a {
  padding: 5px 0;
}

.img-download-container {
  width: 20px;
}

.img-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: grey;
  border-radius: 50px;
}

.img-me-container img {
  max-width: 60%;
}

.shown {
  display: none;
}

/* Main Content */
.content {
  height: 100%;
  width: calc(100vw - 50px);
  background-color: #141922;
  padding: 0 20px;
  padding-top: 120px;
  overflow-y: scroll;
}

/* Navigation Styles */
.content nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.content nav li {
  display: flex;
  /* flex: 0 1 calc(100% / 4 - 30px * 3); */
}
/*funziona davvero male il calc in questo contesto, ne mette 4 ma se allarghi a qualche misura ne mette 5 su una riga, me se continui ad allargare ne rimette 4. È un problema della lista o ho sbagliato io qualcosa?*/

.content nav a {
  width: 100%;
  color: #7d7f84;
  white-space: nowrap;
  font-weight: bold;
}

.content nav a:hover {
  color: white;
}

/* Cards Section Styles */
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 30px;
}

.container h2 {
  width: 100%;
  color: white;
}

.container .desc {
  width: 100%;
  color: #7d7f84;
  font-weight: bold;
}

.card {
  width: calc((100% - 10px) / 2);
  text-align: center;
  flex: 0 1 auto;
  margin-top: 15px;
  position: relative;
}

.opacity {
  width: 100%;
  aspect-ratio: 1/1;
  color: white;
  background-color: black;
  opacity: 0.5;
  font-size: 90px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.card:hover .opacity {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card img {
  width: 100%;
}

.popular .card img {
  border-radius: 300px;
  overflow: hidden;
}

.popular .card:hover .opacity {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 300px;
  overflow: hidden;
}

.card h3 {
  color: white;
  margin: 10px 0;
}

.desc {
  margin-top: -15px;
}

.card .sub {
  color: #7d7f84;
  font-weight: bold;
}

/* Multimedia Bar Styles */
footer {
  display: flex;
  justify-content: space-between;
  background-color: #282828;
  color: white;
  height: 90px;
  position: relative;
  z-index: 10;
  padding: 5px 10px;
}

footer a {
  color: white;
}

.icon {
  cursor: pointer;
}

.track-container {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 0.8em;
}

.track-container img {
  height: 50%;
}

.author {
  margin-left: 10px;
}

.info {
  color: #7d7f84;
  margin-top: 5px;
}

.title:hover .info {
  color: white;
  text-decoration: underline;
}

.like-folder {
  margin-left: 10px;
}

.like-folder .icon {
  display: block;
  color: #7d7f84;
  margin-left: 10px;
  margin-top: 5px;
}

.like-folder .icon:hover {
  color: white;
}

.multimedia-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  margin-left: 20px;
  margin-right: 5px;
}

.comands {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.comands .icon {
  font-size: 20px;
  margin: 0 12px;
}

.comands .icon.play {
  font-size: 30px;
}

.comands .icon.play:hover {
  transform: scale(1.2);
}

.timeline {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  font-size: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.timeline .duration {
  height: 5px;
  width: 100%;
  max-width: 600px;
  background-color: #5a5a5a;
  border-radius: 10px;
  margin: 0 10px;
}

.timeline .duration .current-time {
  width: 25%;
  height: 100%;
  background-color: #c1c1c1;
  border-radius: 50px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.sphere {
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background-color: white;
  display: none;
}

.timeline:hover .current-time {
  background-color: greenyellow;
}

.timeline:hover .sphere {
  display: block;
}

.settings-container {
  display: flex;
  align-items: center;
  width: 200px;
}

.settings-container .icon {
  margin: 0 5px;
  font-size: 10px;
}

.audio-bar {
  height: 5px;
  width: 100%;
  background-color: #5a5a5a;
  border-radius: 10px;
  cursor: pointer;
}

.audio-bar .current-audio {
  height: 100%;
  width: 35%;
  background-color: #c1c1c1;
  border-radius: 50px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.audio-bar:hover .current-audio {
  background-color: greenyellow;
}

.audio-bar:hover .sphere {
  display: block;
}

@media (min-width: 639px) {
  aside {
    width: 230px;
    padding: 15px;
  }

  .pop-up {
    width: calc(100vw - 230px);
  }

  .content {
    width: calc(100vw - 230px);
  }

  .hidden {
    display: none;
  }

  .aside-container {
    display: block;
  }

  .logo-big {
    max-width: 70%;
    margin-bottom: 20px;
  }

  .aside-container a {
    display: flex;
    align-items: center;
  }

  .aside-container .mobile-icons img {
    margin-right: 5px;
  }

  .playlist h4 {
    margin-top: 20px;
  }

  .playlist li {
    padding: 10px 0;
  }

  .add {
    font-size: 50px;
    margin-right: 10px;
  }

  .profile.hidden {
    display: none;
  }

  .profile.shown {
    display: flex;
    flex-direction: column;
  }

  .profile.shown a {
    display: flex;
    flex-wrap: wrap;
  }

  .jhon {
    display: flex;
    align-items: center;
  }

  .profile.shown a span {
    padding-left: 10px;
  }

  .img-download-container {
    display: flex;
    align-items: center;
  }

  .hr::after {
    display: block;
    content: "";
    width: 100%;
    border-bottom: 2px solid #e1e1e3;
    margin-top: 10px;
  }

  .name {
    color: white;
    font-weight: bold;
  }

  .title {
    display: flex;
  }

  .info-name {
    margin-left: 5px;
  }

  .track-container img {
    height: 70%;
  }
}

@media (min-width: 878px) {
  .card {
    width: calc((100% - 10px * 3) / 4);
  }

  .like-folder {
    display: flex;
  }
}

@media (min-width: 1440px) {
  .container {
    gap: 15px;
  }
  .card {
    width: calc((100% - 15px * 5) / 6);
  }
}

@media (max-width: 505px) {
  .pop-up {
    height: 60px;
    justify-content: center;
  }

  .btn-upgrade {
    color: white;
    border: 1px solid white;
    padding: 0.5rem 2rem;
    border-radius: 100px;
    white-space: nowrap;
  }

  aside {
    z-index: 30;
    width: 60px;
    padding-top: 20px;
  }
  aside nav {
    align-items: center;
  }

  .mobile-icons.hidden {
    width: 80%;
  }

  .content {
    padding-top: 80px;
  }
  .content nav {
    font-size: 14px;
  }

  .content nav ul {
    gap: 15px;
  }

  .container {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .container .card {
    width: 85%;
  }

  footer {
    z-index: 99;
  }
  .track-container {
    flex-direction: column;
    position: absolute;
    align-items: flex-start;
    z-index: 50;
    left: 0px;
    top: -230px;
    background-color: rgba(40, 40, 40, 0.7);
    border-top: 2px solid greenyellow;
    border-bottom: 2px solid greenyellow;
    height: auto;
    width: 60px;
    padding: 5px 0;
  }

  .like-folder {
    display: flex;
    flex-direction: row;
    margin-left: 0;
  }

  .track-container img {
    width: 35px;
    height: 35px;
    margin-bottom: 5px;
    margin-left: 10px;
  }

  .multimedia-container {
    margin-left: 0;
  }
  .settings-container {
    flex-direction: column;
    margin-top: 10px;
    max-width: 120px;
  }

  .settings-container .icon {
    padding: 3px 0;
  }
}
