* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter Tight", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.pop-up {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  height: 90px;
  width: calc(100vw - 50px);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 5px;
}

.btn-upgrade {
  color: white;
  border: 2px solid white;
  padding: 1rem 3rem;
  border-radius: 100px;
  white-space: nowrap;
}

main {
  display: flex;
  height: calc(100vh - 90px);
}

aside {
  height: 100%;
  width: 50px;
  background-color: black;
  color: white;
  padding: 5px 10px;
}

aside a {
  color: #a3a3a3;
}

aside nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aside-container {
  display: none;
}

.mobile-icons li {
  padding: 2px 0;
}

.mobile-icons img {
  max-width: 30px;
}

.logo-small {
  margin-bottom: 5px;
}

.profile.hidden a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile a {
  padding: 5px 0;
}

.img-download-container {
  width: 20px;
}

.img-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: grey;
  border-radius: 50px;
}

.img-me-container img {
  max-width: 60%;
}

.shown {
  display: none;
}

.content {
  height: 100%;
  width: calc(100vw - 50px);
  background-color: #141922;
  padding: 0 20px;
  padding-top: 120px;
  overflow-y: scroll;
}

.content nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.content nav li {
  display: flex;
  /* flex: 0 1 calc(100% / 4 - 30px * 3); */
}
/*funziona davvero male il calc in questo contesto, ne mette 4 ma se allarghi a qualche misura ne mette 5 su una riga, me se continui ad allargare ne rimette 4. È un problema della lista o ho sbagliato io qualcosa?*/

.content nav a {
  width: 100%;
  color: #7d7f84;
  white-space: nowrap;
  font-weight: bold;
}

.recently {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 30px;
}

.recently h1 {
  width: 100%;
  color: white;
}

.card {
  width: calc((100% / 2) - 10px / 2);
  text-align: center;
  margin-top: 20px;
  flex: 1 1 auto;
}

.card img {
  width: 100%;
}

.card h3 {
  color: white;
  margin: 15px 0;
}

.card .sub {
  color: #7d7f84;
}

footer {
  background-color: #282828;
  height: 90px;
  z-index: 99;
}

@media (min-width: 639px) {
  aside {
    width: 230px;
    padding: 15px;
  }

  .pop-up {
    width: calc(100vw - 230px);
  }

  .content {
    width: calc(100vw - 230px);
  }

  .hidden {
    display: none;
  }

  .aside-container {
    display: block;
  }

  .logo-big {
    max-width: 70%;
    margin-bottom: 20px;
  }

  .aside-container a {
    display: flex;
    align-items: center;
  }

  .aside-container .mobile-icons img {
    margin-right: 5px;
  }

  .playlist h4 {
    margin-top: 20px;
  }

  .playlist li {
    padding: 10px 0;
  }

  .add {
    font-size: 50px;
    margin-right: 5px;
  }

  .profile.hidden {
    display: none;
  }

  .profile.shown {
    display: flex;
    flex-direction: column;
  }

  .profile.shown a {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .profile.shown a span {
    padding-left: 10px;
  }

  .hr::after {
    display: block;
    content: "";
    width: 100%;
    border-bottom: 2px solid #e1e1e3;
    margin-top: 10px;
  }

  .name {
    color: white;
    font-weight: bold;
  }
}

@media (min-width: 878px) {
  .card {
    width: calc(100% / 4 - 10px * 3);
  }
}
/* CALC DA RISPIEGARE BENISSIMO... NON CI HO CAPITO NULLA */
@media (min-width: 1440px) {
  .recently {
    gap: 15px;
  }
  .card {
    width: calc(100% / 6 - 15px * 2);
  }
}
